/*** COLOR PALETTE
* Main blue:     #26AFEB
* Dark grey:     #38464D
* Light grey:    #F9FAFA
* Accent orange: #FF951F
***/


/********* PROJECT BASICS **********/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Dosis', 'Arial', sans-serif;
  font-family: 'Lato', 'Arial', sans-serif;
  /* font-family: 'Roboto', 'Arial', sans-serif; */
  font-weight: 300;
  color: #38464D;
  font-size: 62.5%;
  /* text-rendering: optimizeLegibility; */
}

/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */

.container {
  max-width: 800px;
  margin: 0 auto;
}

/**********
* HEADER
**********/

.main-background {
  background-image: -webkit-linear-gradient(bottom left, #4ED8F7, #26AFEB 70%);
  background-image: linear-gradient(to top right, #4ED8F7, #26AFEB 70%);
  color: #F9FAFA;
}

.master-header {
  width: 100%;
  height: 25vh;
  position: relative;
}


.master-header__box {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  position: absolute;
  width: 100%;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
  align-items: center;
}
.master-header__box img{
  display: inline-block;
  align-items: center;
  margin: 0 auto;
}

.master-header__heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 90%;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.optin {
  text-align: center;
}

.optin__text {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}


/********* RESSOURCES **********/
.group { 
  padding: 2.5rem 0; 
}

.group:nth-child(odd) { background-color: #dfe9e9; } /*#F9FAFA  */

.group__heading {
  font-size: 2.6rem;
  /* margin-bottom: 1rem; */
  text-align: center;
}

.group__heading img {
  width: 7rem;
}

.group__heading--icon {
  color: #26AFEB;
  font-size: 4rem;
  display: block;
  margin-bottom: 0.5rem;
}

/* .container__row { margin-bottom: 4rem; } */

.container__row::after {
  content: "";
  display: table;
  clear: both;
}

.resource {
  width: 29.3333333333333%;
  float: left;
  margin: 0 2%;
}

.resource__logo {
  display: block;
  height: 4rem;
  margin-bottom: 2rem;
}

.resource__heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.resource__link:link,
.resource__link:visited {
  color: #26AFEB;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.resource__link:hover,
.resource__link:active {
  color: #FF951F;
}

.resource__text {
  font-size: 1.6rem;
  line-height: 1.8;
}


/********** FOOTER **********/
footer .footer__text { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin: 0.5rem auto;
  line-height: 1.6;
  padding: 2rem 0; 
}

footer .footer__text img {
  width: 35px;
}


/**************************************************************************************************
* MEDIA QUERIES
**************************************************************************************************/
@media only screen and (max-width: 767px) {
  
  /* HEADER */
  .master-header__heading {
      font-size: 3rem;
      line-height: 1.3;
      margin-bottom: 4rem;
  }
  
  /* RESOURCES*/
  .group__heading { margin-bottom: 4rem; }
  /* .container__row { margin-bottom: 3rem; } */

  .resource {
      width: 90%;
      float: none;
      /* margin: 0 6%; */
      text-align: center;
      margin: auto;
  }
  
  .resource:not(:last-child) { margin-bottom: 3rem; }
  
  .resource__logo {
      height: 3rem;
      margin-bottom: 1rem;
      align-items: center;
      margin: auto;
  }

  .resource__heading { margin-bottom: 0.2rem; }
  .resource__text { line-height: 1.5; }
}



@media only screen and (max-width: 500px) {

  /* HEADER */
  .master-header {
    height: 50vh;
  }
  
  .master-header__box {
      top: 70%;
      -webkit-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
  } 
}

@media only screen and (max-width: 320px) {
  .master-header__heading {
      font-size: 2rem;
      line-height: 1.1;
      margin-bottom: 2rem;
  }
}

