@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  /* background-color: #f9fafa; */
  background: #ddd url(../img/pozadina.jpg) repeat top left;
  font-family: 'Open Sans Condensed', 'Arial Narrow', serif;
  font-weight: 400;
  font-family: 'Roboto', 'Arial';
  min-height: 1200px;
  overflow: scroll;
  overflow-x: hidden;
}

#navbarsakrij {
  position: fixed;
  width: 100%;
  top: 0;
}

.container {
  position: relative;
}

.angulardark {
  position: relative;
}

#js {
  position: relative;
}

#node {
  position: relative;
}

#canvasjs {
  z-index: -5;
}

.canvaspomak {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: 10; */
}

.navbar-toggler {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bgcolor.scrolled {
  /* background-color: rgba(0, 0, 0, 0.5) !important; */
  border-bottom: solid 2px rgb(52, 58, 64, 0.5) !important;
  /* border-bottom: none !important; */
  transition: 1s ease-in-out;
}



.navbar {
  padding: 10px;
  transition: 1500ms ease-in-out;
}

.navbar .nav-item .nav-link:hover {
  color: #ffc107 !important;
  /* border-left: solid 2px #ffc107 !important; */
  border-left: solid 2px rgb(52, 58, 64, 0.5) !important;
  border-bottom: solid 2px #ffc107 !important;
  padding-left: 0.5rem;
}

.navbar .nav-item .nav-link:hover .sakrij-git {
  opacity: 1;
}

.navbar.active {
  padding: 2px;
  box-shadow: 0 2px 5px #ffc107;
  opacity: 0.8;
}



.navbar a {
  border-left: solid 2px #343a40;
  border-bottom: solid 2px #343a40 !important;
}

/* .navbar a.scrolled {
  border-left: solid 2px rgb(52, 58, 64, 0.5) !important;
} */

.navbar a:hover {
  color: #ffc107 !important;
  border-bottom: solid 2px #ffc107 !important ;
}

.rounded {
  border-radius: 0.5rem !important;
}

.logo {
  margin-top: 7px;
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

#osobno {
  min-height: 800px;
}

.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}
.navbar-custom .icon-bar {
  background-color: #33aa33;
}

/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
  border-color: rgb(255, 193, 7);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#pomoc {
  margin-bottom: 50px;
}

/* #lijevo {
  background-color:orange;
  border-radius: 5px;
  margin: 2.5% 2% 0 2%;
  width:25% !important;
}

#sredina {
  background-color:green;
  border-radius: 5px;
  margin: 2.5% 0 0 0;
  width:25% !important;
}
#desno {
  background-color:#39F;
  border-radius: 5px;
  margin: 2.5% 2.5% 0 2.5%;
  width:25% !important;
} */

/* spinerr circle */
.loader {
  opacity: 1;
  display: flex;
  position: relative;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* GITHUB */
.git {
  opacity: 0;
}
.collapse:hover .git {
  opacity: 1;
  color: #ffc107;
}
/* END GITHUB */

.druga-icona {
  height: 30px;
  display: none;
}

.osobno {
  /* margin-top: 40px; */
  background-color: #e9d1e6;
  text-align: center;
  justify-content: center;
}

logonaslov {
  opacity: 0.5 !important;
}

.img-thumbnail {
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 576px) {
  .navbar .nav-item .nav-link:hover {
    color: #ffc107 !important;
    border-left: solid 2px #ffc107 !important;
    border-bottom: none !important;
    padding-left: 0.5rem;
  }

  .git {
    display: none;
  }

  .druga-icona {
    display: inline-block;
  }

  canvas {
    display: none;
  }
}
