/*  Loader Border Button zuto *********************** */
.loaderBorderButton {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
    /*  poseban mirror efaket */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.loaderBorderButton:hover {
  background: #f9e64f;
  box-shadow: 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4,
    0 0 15px #03e9f4;
}

.loaderBorderButton span {
  position: absolute;
  display: block;
  transform-style: preserve-3d;
}

/* gornji */
.loaderBorderButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, transparent, #f9e64f);
  animation: anumateBorderButton1 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Desno */
.loaderBorderButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f9e64f);
  animation: anumateBorderButton2 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

/* Dolje */
.loaderBorderButton span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(270deg, transparent, #f9e64f);
  animation: anumateBorderButton3 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton3 {
  0% {
    right: -100%;
  }
  100% {
    right: +100%;
  }
}

/* Desno */
.loaderBorderButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #f9e64f);
  animation: anumateBorderButton4 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}



/* HTML5  */

/*  Loader Border Button smede *********************** */
.loaderBorderButtonHTML {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
    /*  poseban mirror efaket */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.loaderBorderButtonHTML:hover {
  /* background: #7f8ab9; */
  /* box-shadow: 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4,
    0 0 15px #03e9f4; */
}

.loaderBorderButtonHTML span {
  position: absolute;
  display: block;
}

/* gornji */
.loaderBorderButtonHTML span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, transparent, #2543C5);
  animation: anumateBorderButtonZeleno1 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButtonZeleno1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Desno */
.loaderBorderButtonHTML span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2543C5);
  animation: anumateBorderButtonZeleno2 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButtonZeleno2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

/* Dolje */
.loaderBorderButtonHTML span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(270deg, transparent, #2543C5);
  animation: anumateBorderButton3 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton3 {
  0% {
    right: -100%;
  }
  100% {
    right: +100%;
  }
}

/* Desno */
.loaderBorderButtonHTML span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2543C5);
  animation: anumateBorderButton4 1s linear infinite;
  animation-delay: 1s;
}
@keyframes anumateBorderButton4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
