@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f9fafa;
  font-family: 'Roboto', 'Arial';
}


#navbarsakrij {
  position: fixed;
  width: 100%;
  top: 0;
}

.bgcolor.scrolled {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: 1s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
  color: #ffc107 !important;
  border-bottom: solid 2px #ffc107 !important;
}

.navbar a:hover {
  color: #ffc107 !important;
  border-bottom: solid 2px #ffc107;
}



.rounded {
  border-radius: 0.5rem !important;
}

.logo {
  width: 35px;
  height: 35px;
}


#osobno {
  min-height: 800px
};
