/*** COLOR PALETTE
* Main blue:     #26AFEB
* Dark grey:     #38464D
* Light grey:    #F9FAFA
* Accent orange: #FF951F
***/

/**********
* PROJECT BASICS
**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  color: #38464d;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/**********
* HEADER
**********/

header {
  background-color: #ff951f;
  display: block;
  /* margin: 0 0 50px 0; */
}

.master-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  background-image: -webkit-linear-gradient(left, #4ed8f7, #26afeb 70%);
  background-image: linear-gradient(to right, #4ed8f7, #26afeb 70%);
  color: #f9fafa;
  /* padding-bottom: 60px; */
}

.master-header h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 20px 0 0;
}

.master-header img {
  width: 50px;
  border-radius: 3px;
}

/*********
* RESSOURCES
**********/

.group {
  margin: 5px !important;
  padding: 1rem 0;
}

.prvi {
  padding-top: 100px;
}

.group:nth-child(odd) {
  background-color: #dfe9e9;
} /*#F9FAFA  */

.container__row::after {
  content: '';
  display: table;
  clear: both;
}

.resource {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15%;
  float: left;
  margin: 0 0.5%;
  justify-items: center;
  text-align: center;
}

.resource__logo {
  display: block;
  height: 4rem;
  margin-bottom: 2rem;
}

.resource__logo--round {
  border-radius: 10%;
}

.resource__heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  z-index: 2;
}

.resource__link:link,
.resource__link:visited {
  /* color: #26afeb; */
  color: #FF951F;
  /* color: #242333; */
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.resource__link:hover,
.resource__link:active {
  color: #ff951f;
}

.resource__text {
  font-size: 1.6rem;
  line-height: 1.8;
  z-index: 1;
}

.social-plugins {
  margin-top: 5rem;
  text-align: center;
}

#___plusone_0 {
  margin-top: 3px !important;
  margin-right: 30px !important;
  width: 65px !important;
}

/**************************************************************************************************
* MEDIA QUERIES
**************************************************************************************************/

@media only screen and (max-width: 668px) {
  /* HEADER */
  /* HEADER */
  .master-header {
    height: 5vh;
  }

  /* RESOURCES*/
  .group {
    padding: 4rem 0;
  }

  .container__row {
    text-align: center;
    margin-bottom: 3rem;
  }

  .resource {
    width: 93%;
    /* float: none; */
    margin: 0 3.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .resource:not(:last-child) {
    margin-bottom: 3rem;
  }

  .resource__logo {
    height: 3rem;
    margin-bottom: 1rem;
  }

  .resource__heading {
    margin-bottom: 0.2rem;
  }
  .resource__text {
    line-height: 1.5;
  }
}

@media only screen and (max-width: 500px) {
  /* HEADER */
  .master-header {
    height: 10vh;
    display: flex;
  }
}


.logo {
  width: 25px;
  height: 25px;
}


.slika-sucelja {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 140px;
  height: 70px;
  opacity: 0.5;
  transform: translateX(-50%);
  /* z-index: -1; */
}


.slika-sucelja:hover {
  transform: scale(4) translateY(50%);
  opacity: 1;
  z-index: 10;
}
