body {
  font-family: Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
tr {
  height: 20px;
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 1100px;
  }
}
